<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!-- Harmony IPs , you can have several if comma separated-->
    <add key="harmonyIP" value="192.168.11.14,192.168.11.29"/>
    <!-- Harmony Hub Names - this is what you pass to hub commands to reference the hub.  Should be in the same order as the above IPs.-->
    <add key="harmonyName" value="LivingRoom,GameRoom"/>
    <!--Your My Harmony Logitech email login-->
    <add key="harmonyUser" value="youremail@something.com"/>
    <!-- You My Harmony password-->
    <add key="harmonyPassword" value="xxxxx"/>
    <!-- For VoxCommando, this is the prefix phrase in front of any Harmony commands, e.g "Harmony Pause"-->
    <add key="harmonyPrefixPhrase" value="Harmony"/>
    <!-- CastleOS Prefix phrase - used in front of any CastleOS commands, e.g. "Castle Turn Living Room Light On"-->
    <add key="CastleOSPrefixPhrase" value="Castle"/>

    <!--Login info for CastleOS.  The login name should contain the word "kinect" so the connection doesn't time out.  Supposedly the token is good for 90 days but I've found 
      it only works for 10 minutes.   To avoid having to have the service login all the time, create a username like kinect1. -->
    <add key="CastleOSName" value="kinect1"/>
    <add key="CastleOSPassword" value="password1234"/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                  
                </behavior>
            </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="web">
              <webHttp/>
            </behavior>
          </endpointBehaviors>

        </behaviors>
        <services>
            <service name="HarmonyService.HarmonyWcfService">
                <endpoint address="" binding="webHttpBinding" contract="HarmonyService.IHarmonyWcfService" behaviorConfiguration="web">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>                
                <host>
                    <baseAddresses>                       
                      <add baseAddress="http://localhost:8085/HarmonyService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ICastleOS">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Basic"/>
            </security>
          </binding>
          <binding name="BasicHttpBinding_ICastleOSUnsecured"/>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost/CastleOS/service" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastleOS" contract="CastleOSCoreService.ICastleOS" name="BasicHttpBinding_ICastleOS"/>
        <endpoint address="http://localhost/CastleOS/service2" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastleOSUnsecured" contract="CastleOSUnsecuredService.ICastleOSUnsecured" name="BasicHttpBinding_ICastleOSUnsecured"/>
      </client>
    </system.serviceModel>
</configuration>
